fastapi
uvicorn[standard]
SQLAlchemy
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
python-docx
python-pptx
mysql-connector-python
requests
email-validator
pydantic[email]
passlib[bcrypt]
argon2_cffi
